<div class="md-widget-engine-container" ng-if="configuration.columns">
    <div class="md-widget-engine">
        <div layout="row" flex style="height: 100%">
            <md-widget-engine-column 
                ng-repeat="(columnIndex, column) in configuration.columns" 
                column="column" 
                style="background-color: {{column.background}}; width: {{column.size}}%; min-width: 15%;"
            ></md-widget-engine-column>
        </div>
    </div>
</div><!-- md-widget-engine-container -->