<div class="md-widget-engine-widget-tile-container {{fullscreen ? 'md-widget-engine-widget-fullscreen' : ''}}">
    <div class="md-widget-engine-widget-tile md-whiteframe-2dp">

        <div class="md-widget-engine-widget-tile-title-container">
            <md-toolbar class="md-whiteframe-2dp">
                <div class="md-toolbar-tools">
                    <div class="md-widget-engine-widget-tile-title">
                        <span style="cursor: pointer" md-widget-engine-widget-dragger>{{widget.title || 'Widget'}}</span>
                    </div>
                    <span flex></span>
                    <div class="md-widget-engine-widget-tile-controls-container" >
                        <div class="md-widget-engine-widget-tile-control" ng-mouseup="removeWidget($event)">
                            <span class="md-widget-engine-widget-close-control">
                                <md-icon class="material-icons md-light md-24">
                                    close
                                    <md-tooltip md-direction="bottom">Remove this widget</md-tooltip>
                                </md-icon>
                            </span>
                        </div>
                        <div class="md-widget-engine-widget-tile-control" ng-click="toggleSticky()" ng-show="widget.stickyControl">
                            <span class="md-widget-engine-widget-sticky-control">
                                <md-icon class="material-icons md-light md-24" ng-if="!widget.sticky">
                                    lock_open
                                    <md-tooltip md-direction="bottom">Make this widget sticky</md-tooltip>
                                </md-icon>
                                <md-icon class="material-icons md-light md-24" ng-if="widget.sticky">
                                    lock
                                    <md-tooltip md-direction="bottom">Make this widget non-sticky</md-tooltip>
                                </md-icon>
                            </span>
                        </div>
                        <div class="md-widget-engine-widget-tile-control" ng-click="toggleFullscreen()">
                            <span class="md-widget-engine-widget-fullscreen-control">
                                <md-icon class="material-icons md-light md-24">
                                    fullscreen
                                    <md-tooltip md-direction="bottom">Toggle fullscreen mode</md-tooltip>
                                </md-icon>
                            </span>
                        </div>
                    </div>
                </div><!-- md-toolbar-tools -->
            </md-toolbar>
        </div>

        <div class="md-widget-engine-widget-tile-content-container">
            <md-content>
                <div class="md-widget-engine-widget-tile-content resize-vertical" style="min-height:{{widget.minHeight}}px; max-height:{{widget.maxHeight}}">
                    <div ng-switch on="widget.type">
                        <div ng-switch-when="include">
                            <ng-include src="widget.content"></ng-include>
                        </div><!-- ng-switch-when -->

                        <div ng-switch-when="iframe">
                            <iframe ng-src="{{widget._internalSettings.trustedURL}}" frameborder=0 style="border:0px; width:100%; height:auto"></iframe>
                        </div><!-- ng-switch-when -->

                    </div> <!-- ng-switch -->
                </div>
            </md-content>    
        </div>

    </div><!-- md-widget-engine-widget-tile -->
</div><!-- md-widget-engine-widget-tile-container -->