<div class="md-widget-engine-column" style="height:100%; position:relative">
    
    <span class="md-widget-engine-column-resizer" ng-mousedown="setupColumnResizing($event)" ng-show="configuration.columns.length-1 > columnIndex && configuration.resizeableColumns !== false">
    </span>
    <div class="md-widget-engine-new-column-handler {{configuration.columns.length==1 ? 'single-column-only' : ''}}" ng-show="configuration.columns.length-1 > columnIndex || configuration.columns.length==1 || column.widgets.length==0">
        <div ng-click="addNewColumn()" ng-show="column.widgets.length > 0 && configuration.columns.length < 6 && configuration.dynamicColumns !== false" style="outline: none; border: 0px;">
            <md-icon class="material-icons md-dark md-24" style="outline: none">add_circle</md-icon>
            <md-tooltip md-direction="{{columnIndex == configuration.columns.length-1 ? 'left': 'right'}}">Add new column here</md-tooltip>
        </div>
        <div ng-click="removeEmptyColumn()" ng-show="column.widgets.length == 0 && configuration.dynamicColumns !== false" style="outline: none; border: 0px;">
            <md-icon class="material-icons md-dark md-24">remove_circle</md-icon>
            <md-tooltip md-direction="left">Remove this column</md-tooltip>
        </div>
    </div>

    <div class="md-widget-engine-widget-tiles-container">
        <md-widget-engine-widget-tile ng-repeat="(widgetIndex, widget) in column.widgets" widget="widget" widgetIndex="widgetIndex"></md-widget-engine-widget-tile>
    </div>
</div><!-- md-widget-engine-column -->