<div class="md-widget-engine-widget-tile-container {{fullscreen ? 'md-widget-engine-widget-fullscreen' : ''}} md-widget-engine-widget-{{widget.name}}">
    <div class="md-widget-engine-widget-tile md-whiteframe-2dp">

        <div class="md-widget-engine-widget-tile-title-container md-widget-engine-widget-{{widget.name}}">
            <md-toolbar class="md-whiteframe-2dp md-widget-engine-title-control-type-{{widget.controlsLayout || 'default'}}" style="z-index: {{(configuration.columns[columnIndex].widgets.length - widgetIndex) * 10}}">
                <div class="md-toolbar-tools" style="cursor: pointer" md-widget-engine-widget-dragger>
                    <div class="md-widget-engine-widget-tile-title" flex>
                        <div style="text-overflow: ellipsis; overflow: hidden; white-space: nowrap; width: 80%">{{widget.title || 'Widget'}}</div>
                    </div>
                    <span ></span>
                    <div class="md-widget-engine-widget-tile-controls-container" style="position:relative">
                        <div ng-switch on="widget.controlsLayout">

                            <div ng-switch-default class="md-widget-engine-widget-title-default-controls">
                                <div class="md-widget-engine-widget-tile-control" ng-mouseup="removeWidget($event)" ng-show="widget.closeControl !== false">
                                    <span class="md-widget-engine-widget-close-control">
                                        <md-icon class="material-icons md-light md-24">
                                            close
                                            <md-tooltip md-direction="bottom">Remove this widget</md-tooltip>
                                        </md-icon>
                                    </span>
                                </div>
                                <div class="md-widget-engine-widget-tile-control" ng-click="toggleSticky()" ng-show="widget.stickyControl">
                                    <span class="md-widget-engine-widget-sticky-control">
                                        <md-icon class="material-icons md-light md-24" ng-if="!widget.sticky">
                                            lock_open
                                            <md-tooltip md-direction="bottom">Make this widget sticky</md-tooltip>
                                        </md-icon>
                                        <md-icon class="material-icons md-light md-24" ng-if="widget.sticky">
                                            lock
                                            <md-tooltip md-direction="bottom">Make this widget non-sticky</md-tooltip>
                                        </md-icon>
                                    </span>
                                </div>
                                <div class="md-widget-engine-widget-tile-control" ng-click="toggleFullscreen()" ng-show="widget.fullscreenControl !== false">
                                    <span class="md-widget-engine-widget-fullscreen-control">
                                        <md-icon class="material-icons md-light md-24">
                                            fullscreen
                                            <md-tooltip md-direction="bottom">Toggle fullscreen mode</md-tooltip>
                                        </md-icon>
                                    </span>
                                </div>

                                <div class="md-widget-engine-widget-tile-control" ng-repeat="cAction in widget.customActions" class="md-fab md-mini md-raised" ng-click="customActionCallback(cAction)">
                                    <span class="md-widget-engine-widget-custom-control">
                                        <md-icon class="material-icons md-light md-24">
                                            {{cAction.icon}}
                                            <md-tooltip md-direction="bottom">{{cAction.tooltip}}</md-tooltip>
                                        </md-icon>
                                    </span>
                                </div>
                            </div><!-- default layout -->


                            <div ng-switch-when="fab" class="md-widget-engine-widget-title-fab-controls">
                                <md-fab-speed-dial md-direction="down" class="md-scale" ng-show="widget.closeControl !== false || widget.fullscreenControl !== false || widget.stickyControl !== false || widget.customActions.length ">
                                    <md-fab-trigger>
                                        <md-button aria-label="menu" class="md-fab md-mini md-raised md-button">
                                            <md-icon class="material-icons md-light md-24">more_vert</md-icon>
                                        </md-button>
                                    </md-fab-trigger>

                                    <md-fab-actions>
                                        <md-button class="md-fab md-mini md-raised" ng-mouseup="removeWidget($event)" ng-show="widget.closeControl !== false">
                                            <md-icon class="material-icons md-light md-24">
                                                close
                                                <md-tooltip md-direction="bottom">Remove this widget</md-tooltip>
                                            </md-icon>
                                        </md-button>

                                        <md-button class="md-fab md-mini md-raised" ng-click="toggleSticky()" ng-show="widget.stickyControl">
                                            <md-icon class="material-icons md-light md-24" ng-if="!widget.sticky">
                                                lock_open
                                                <md-tooltip md-direction="bottom">Make this widget sticky</md-tooltip>
                                            </md-icon>
                                            <md-icon class="material-icons md-light md-24" ng-if="widget.sticky">
                                              lock
                                              <md-tooltip md-direction="bottom">Make this widget non-sticky</md-tooltip>
                                            </md-icon>
                                        </md-button>

                                        <md-button class="md-fab md-mini md-raised" ng-click="toggleFullscreen()" ng-show="widget.fullscreenControl !== false">
                                            <md-icon class="material-icons md-light md-24">
                                                fullscreen
                                                <md-tooltip md-direction="bottom">Toggle fullscreen mode</md-tooltip>
                                            </md-icon>
                                        </md-button>

                                        <md-button ng-repeat="cAction in widget.customActions" class="md-fab md-mini md-raised " ng-click="customActionCallback(cAction)">
                                            <md-icon class="material-icons md-light md-24">
                                                {{cAction.icon}}
                                                <md-tooltip md-direction="bottom">{{cAction.tooltip}}</md-tooltip>
                                            </md-icon>
                                        </md-button>

                                    </md-fab-actions>
                                </md-fab-speed-dial>
                            </div><!-- fab-controls layout -->


                            <div ng-switch-when="menu" class="md-widget-engine-widget-title-menu-controls">
                                    <md-menu ng-show="widget.closeControl !== false || widget.fullscreenControl !== false || widget.stickyControl !== false || widget.customActions.length ">
                                      <md-button aria-label="Open menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
                                        <md-icon md-menu-origin>more_vert</md-icon>
                                      </md-button>
                                      <md-menu-content width="2">
                                        <md-menu-item>
                                          <md-button ng-mouseup="removeWidget($event)" ng-show="widget.closeControl !== false">
                                            <md-icon class="material-icons md-light md-24" md-menu-align-target>close</md-icon>
                                            Remove this widget
                                          </md-button>
                                        </md-menu-item>

                                        <md-menu-item ng-show="widget.stickyControl">
                                          <md-button ng-click="toggleSticky()" ng-if="!widget.sticky">
                                            <md-icon class="material-icons md-light md-24" md-menu-align-target>lock_open</md-icon>
                                            Make this widget sticky
                                          </md-button>
                                          <md-button ng-click="toggleSticky()" ng-if="widget.sticky">
                                            <md-icon class="material-icons md-light md-24" md-menu-align-target>lock</md-icon>
                                            Make this widget non-sticky
                                          </md-button>
                                        </md-menu-item>

                                        <md-menu-item>
                                          <md-button ng-click="toggleFullscreen()" ng-show="widget.fullscreenControl !== false">
                                            <md-icon class="material-icons md-light md-24" md-menu-align-target>fullscreen</md-icon>
                                            Toggle fullscreen
                                          </md-button>
                                        </md-menu-item>

                                        <md-menu-divider ng-if="widget.customActions.length"></md-menu-divider>

                                        <md-menu-item ng-repeat="cAction in widget.customActions">
                                          <md-button ng-click="customActionCallback(cAction)">
                                            <md-icon class="material-icons md-light md-24" md-menu-align-target>{{cAction.icon}}</md-icon>
                                            {{cAction.tooltip}}
                                          </md-button>
                                        </md-menu-item>
                                        
                                      </md-menu-content>
                                    </md-menu>
                            </div><!-- menu layout -->



                        </div><!-- ng-switch-->
                    </div><!-- md-widget-engine-widget-tile-controls-container -->
                </div><!-- md-toolbar-tools -->
            </md-toolbar>
        </div>

        <div class="md-widget-engine-widget-tile-content-container md-widget-engine-widget-{{widget.name}}">
            <md-content>
                <div class="md-widget-engine-widget-tile-content {{widget.resize ? 'resize-vertical' : ''}}" style="min-height:{{fullscreen ? '100%' : widget.minHeight + 'px'}}; height:{{fullscreen ? '100%' : widget.minHeight + 'px'}}; max-height:{{fullscreen ? '100%' : widget.maxHeight + 'px'}}; position:relative;">
                    <div ng-switch on="widget.type" style="height: inherit">
                        <div ng-switch-when="include" style="height: inherit">
                            <ng-include src="widget.content"></ng-include>
                        </div><!-- ng-switch-when -->

                        <div ng-switch-when="iframe" style="height: inherit">
                            <iframe ng-src="{{widget._internalSettings.trustedURL}}" frameborder=0 style="border:0px; width:100%; height:100%"></iframe>
                        </div><!-- ng-switch-when -->

                        <div ng-switch-when="html" style="height: inherit">
                            <md-widget-engine-widget-tile-content-html>
                                {{widget._internalSettings.trustedHTML}}
                            </md-widget-engine-widget-tile-content-html>
                        </div><!-- ng-switch-when -->

                    </div> <!-- ng-switch -->
                </div>
            </md-content>    
        </div>

    </div><!-- md-widget-engine-widget-tile -->
</div><!-- md-widget-engine-widget-tile-container -->
